a {
    cursor: pointer;
}

.navbar-default {
    background-color: teal;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.btn-block {
    width: 50%;
    margin: auto auto 10px;
}

.btn-list {
    margin-top: 10px;
}
.form-control {
    width: 50%;
    margin: 10px auto 10px auto;
    text-align: center;
}

.panel-default .panel-heading {
    text-align: center;
}

.label-center {
    display: block;
    width: 50%;
    margin: auto auto 10px;
}

.list-group-item {
    text-align: center;
}

body {
    background-color: rgb(199, 183, 209);
}
.panel{
    background-color:darkgray;
}
.custom-select{
    border: gray;
}